dropna is used to remove all the row which has NAN value(missing)

In [1]:
import pandas as pd

df=pd.read_csv(r'D:\iiitnr\Assignment\book.csv')

new_df=df.dropna()
print(new_df.to_string())
print(df)

    BookID BookName Author  price  YearOfPublication
0        1        C    AAA   20.0             2021.0
2        3     Java    CCC   40.0             2020.0
4        5        R    EEE   60.0             2018.0
7        8      DSA    HHH   20.0             2015.0
10      11     FLAT    KKK   45.0             2012.0
13      14       AI    NNN   40.0             2020.0
16      17       DL    PPP   34.0             2013.0
18      19      DSA    RRR   55.0             2007.0
    BookID  BookName Author  price  YearOfPublication
0        1         C    AAA   20.0             2021.0
1        2       CPP    BBB   30.0                NaN
2        3      Java    CCC   40.0             2020.0
3        4    Python    DDD    NaN             2019.0
4        5         R    EEE   60.0             2018.0
5        6      Ruby    FFF    NaN             2017.0
6        7        OS    NaN   80.0             2016.0
7        8       DSA    HHH   20.0             2015.0
8        9  Robotics    NaN   45.0             2014.0
9       10        DP    JJJ   35.0                NaN
10      11      FLAT    KKK   45.0             2012.0
11      12        SE    NaN   65.0             2017.0
12      13      OOAD    MMM    NaN             2019.0
13      14        AI    NNN   40.0             2020.0
14      15       NaN    OOO   45.0             2021.0
15      16        ML    NaN   33.0             2021.0
16      17        DL    PPP   34.0             2013.0
17      18       NaN    QQQ    NaN             2009.0
18      19       DSA    RRR   55.0             2007.0
19      20        DP    NaN   32.0             2003.0

fillna is used to fill the specific missing values in the data. It is used to replace the missing values with a specific value. It

In [2]:
import pandas as pd

df=pd.read_csv(r'D:\iiitnr\Assignment\book.csv')
#new_df=df.dropna(inplace=True)
new_df=df.fillna(130,inplace=True)
#df["price"].fillna(130,inplace=True)
df.fillna(130,inplace=True)
print(df)

    BookID  BookName Author  price  YearOfPublication
0        1         C    AAA   20.0             2021.0
1        2       CPP    BBB   30.0              130.0
2        3      Java    CCC   40.0             2020.0
3        4    Python    DDD  130.0             2019.0
4        5         R    EEE   60.0             2018.0
5        6      Ruby    FFF  130.0             2017.0
6        7        OS    130   80.0             2016.0
7        8       DSA    HHH   20.0             2015.0
8        9  Robotics    130   45.0             2014.0
9       10        DP    JJJ   35.0              130.0
10      11      FLAT    KKK   45.0             2012.0
11      12        SE    130   65.0             2017.0
12      13      OOAD    MMM  130.0             2019.0
13      14        AI    NNN   40.0             2020.0
14      15       130    OOO   45.0             2021.0
15      16        ML    130   33.0             2021.0
16      17        DL    PPP   34.0             2013.0
17      18       130    QQQ  130.0             2009.0
18      19       DSA    RRR   55.0             2007.0
19      20        DP    130   32.0             2003.0

In [3]:
import pandas as pd

df=pd.read_csv(r'D:\iiitnr\Assignment\book.csv')
new_df=df.isnull().mean()
print(new_df)

BookID               0.00
BookName             0.10
Author               0.25
price                0.20
YearOfPublication    0.10
dtype: float64

In [4]:


# Calculating the mean of the 'price' column
mod_price=df["price"].mean()

# Printing the mean price
print(mod_price)

42.4375

In [5]:
median_yop = df["YearOfPublication"].median()

In [6]:
mod_price=df["price"].mean()

In [7]:

df["Median_Year"] = median_yop
df["mod_price"] = mod_price
df

    BookID  BookName Author  price  YearOfPublication  Median_Year  mod_price
0        1         C    AAA   20.0             2021.0       2017.0    42.4375
1        2       CPP    BBB   30.0                NaN       2017.0    42.4375
2        3      Java    CCC   40.0             2020.0       2017.0    42.4375
3        4    Python    DDD    NaN             2019.0       2017.0    42.4375
4        5         R    EEE   60.0             2018.0       2017.0    42.4375
5        6      Ruby    FFF    NaN             2017.0       2017.0    42.4375
6        7        OS    NaN   80.0             2016.0       2017.0    42.4375
7        8       DSA    HHH   20.0             2015.0       2017.0    42.4375
8        9  Robotics    NaN   45.0             2014.0       2017.0    42.4375
9       10        DP    JJJ   35.0                NaN       2017.0    42.4375
10      11      FLAT    KKK   45.0             2012.0       2017.0    42.4375
11      12        SE    NaN   65.0             2017.0       2017.0    42.4375
12      13      OOAD    MMM    NaN             2019.0       2017.0    42.4375
13      14        AI    NNN   40.0             2020.0       2017.0    42.4375
14      15       NaN    OOO   45.0             2021.0       2017.0    42.4375
15      16        ML    NaN   33.0             2021.0       2017.0    42.4375
16      17        DL    PPP   34.0             2013.0       2017.0    42.4375
17      18       NaN    QQQ    NaN             2009.0       2017.0    42.4375
18      19       DSA    RRR   55.0             2007.0       2017.0    42.4375
19      20        DP    NaN   32.0             2003.0       2017.0    42.4375