In [1]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [2]:
import pandas as pd
a = [1, 7, 2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

In [3]:
# import the pandas library
import pandas as pd 
left = pd.DataFrame({
         'id':[1,2,3,4,5],
         'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
         'subject_id':['sub1','sub2','sub4','sub6','sub5']})    
right = pd.DataFrame(
         {'id':[1,2,3,4,5],
         'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
         'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print(left)
print("\n")
print(right)

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5


   id   Name subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3   Bran       sub3
3   4  Bryce       sub6
4   5  Betty       sub5

In [4]:
import pandas as pd
a = [1, 7, 2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

In [5]:
import pandas as pd

data = {
    "calories": {"day1": 420, "day2": 380, "day3": 390},
    "Duration": {"day1": 50, "day2": 40, "day3": 30}
}

myvar = pd.DataFrame(data)
print(myvar)

print(myvar.loc["day1", "calories"])  # Output: 420

      calories  Duration
day1       420        50
day2       380        40
day3       390        30
420

In [ ]:
import pandas as pd
df = pd.read_csv("D:\iiitnr\Day7\csv/student.csv")

print(df)

    Sname   ID  age  CGPA     Address        Phone             email
0   Ankit  123   21   9.5      Raipur   6205926982   ankit@gmail.com
1  Anurag  234   22   7.9      Bhilai   9798264898  anurag@gmail.com
2   Anmol  678   19   8.5       Patna   8589586995   anmol@gmail.com
3  Aditya  889   23   7.8    Bilaspur  68598669596  aditya@gmail.com
4    Arun  564   18   9.1  Samastipur   9759960506    arun@gmail.com

<>:2: SyntaxWarning: invalid escape sequence '\i'
<>:5: SyntaxWarning: invalid escape sequence '\i'
<>:2: SyntaxWarning: invalid escape sequence '\i'
<>:5: SyntaxWarning: invalid escape sequence '\i'
C:\Users\ANKIT\AppData\Local\Temp\ipykernel_17360\1939552107.py:2: SyntaxWarning: invalid escape sequence '\i'
  df = pd.read_csv("D:\iiitnr\Day7\csv/student.csv")
C:\Users\ANKIT\AppData\Local\Temp\ipykernel_17360\1939552107.py:5: SyntaxWarning: invalid escape sequence '\i'
  '\i'

'\\i'