In [ ]:
import pandas as pd
an=pd.read_csv(r"D:\iiitnr\Day8\titanic.csv")
an

In [ ]:
an2=an[["Embarked","Age","Fare"]]
an2.head()

In [ ]:
an2

In [ ]:
an2.tail()

In [ ]:
an2.isnull().mean()

In [ ]:
an2.Embarked.mode()

In [ ]:
an2.Embarked.fillna('s')

In [ ]:
an2.Age.mode()

In [ ]:
an2.Age.fillna(24)

In [ ]:
an2.Fare.mode()

In [ ]:
an2.Fare.fillna(8.05)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import matplotlib.pyplot as plt
an2["Age"].plot(kind='hist')
plt.show()

In [ ]:
an2_median=an2.Age.median()
an2_median

In [ ]:
an["Age"].plot(kind='hist')
plt.show()

In [ ]:
import matplotlib.pyplot as plt

# Replace missing values in 'Age' column with its median
an2["Age"] = an2["Age"].fillna(an2["Age"].median())

# Plot the histogram
an2["Age"].plot(kind='hist')
"""plt.xlabel("Age")
plt.title("Histogram of Age")"""
plt.show()

In [ ]:
import matplotlib.pyplot as plt

# Replace missing values in 'Age' column with its median
an2["Age"] = an2["Age"].fillna(an2["Age"].mean())

# Plot the histogram
an2["Age"].plot(kind='hist')
"""plt.xlabel("Age")
plt.title("Histogram of Age")"""
plt.show()

In [ ]:
import matplotlib.pyplot as plt

# Replace missing values in 'Age' column with its median
an2["Age"] = an2["Age"].fillna(an2["Age"].mode())

# Plot the histogram
an2["Age"].plot(kind='hist')
"""plt.xlabel("Age")
plt.title("Histogram of Age")"""
plt.show()

In [ ]:
import pandas as pd
an=pd.read_csv(r"D:\iiitnr\Day8\titanic.csv")
an
an3 = an[["Survived", "Pclass", "Age", "Fare"]]
an3

In [ ]:
an2["Fare"].plot(kind='hist')
plt.show()

In [ ]:
import matplotlib.pyplot as plt


an2["Fare"] = an2["Fare"].fillna(an2["Fare"].mode())


an2["Fare"].plot(kind='hist')

plt.show()

In [ ]:
import matplotlib.pyplot as plt


an2["Fare"] = an2["Fare"].fillna(an2["Fare"].median())


an2["Fare"].plot(kind='hist')

plt.show()

In [ ]:
import matplotlib.pyplot as plt


an2["Fare"] = an2["Fare"].fillna(an2["Fare"].mode())


an2["Fare"].plot(kind='hist')

plt.show()

In [ ]:
import matplotlib.pyplot as plt

an2.Embarked.fillna('missing', inplace=True)

an2['Embarked'].value_counts().plot(kind='bar')

plt.xlabel("Embark Town")
plt.ylabel("Number of Passengers")

plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams["figure.figsize"]=[8,6]
sns.set_style("darkgrid")
titanic_data=sns.load_dataset('titanic')
titanic_data.head()

In [ ]:
td_c=titanic_data
td_c.head()

In [ ]:
td_d=td_c[["sex","class","embark_town"]]
td_d

In [ ]:
print(td_d['sex'].unique())
print(td_d['class'].unique())
print(td_d['embark_town'].unique())

In [ ]:
import pandas as pd
temp=pd.get_dummies(td_d['sex'])
temp.head()

In [ ]:
temp=pd.get_dummies(td_d['class'])
temp.head()

In [ ]:
pd.concat([td_d['sex'], pd.get_dummies(td_d['sex'])], axis=1).head()

In [ ]:
temp = pd.get_dummies(td_d['class'])
# temp.head()
print(temp.head())

In [ ]:
pd.concat([td_d['class'], pd.get_dummies(td_d['class'])], axis=1).head()

In [ ]:
# finding dummies on column "embark_townx"

temp = pd.get_dummies(td_d['embark_town'])

# temp.head()

print(temp.head())

In [ ]:
pd.concat([td_d['embark_town'], pd.get_dummies(td_d['embark_town'])], axis=1).head()

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(td_d['class'])
td_d['le_class'] = le.transform(td_d['class'])
td_d.head(10)

In [ ]:
value_counts=td_d['embark_town'].value_counts().to_dict()
print(value_counts)

In [ ]:
td_d['embark_town'] = td_d['embark_town'].map(value_counts)
td_d.head()

In [ ]:
td_d = titanic_data[["sex", "class", "embark_town", "survived"]]
td_d.groupby(['class'])['survived'].mean().sort_values()

In [ ]:
td_d.groupby(['class'])['survived'].mean()

In [ ]:
mean_labels = td_d.groupby(['class'])['survived'].mean().to_dict()
td_d['class_mean'] = td_d['class'].map(mean_labels)
td_d.head()